.screenshare,.voice,.video{
    border: none;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin: 15px;
    background-color: #B0C0C2;
}
.screenshare:hover,.voice:hover,.video:hover{
    background-color: #727174;
    color:white;
}

.btn-grp{
    position: absolute;
    bottom: 5px;
    right: 50%;
    
}