.edit {
    display: flex;
    flex-direction: column;
    background-color: #e2f3f5;
    width: 100%;
    justify-content: flex-start;
    padding-left: 40px;
}
.editPage{
  display: flex;
}
.bio {
  display: block;
  
}

.bio h1{
  font-family: "Momcake";
}


.profilePicture {
  margin-top: 10vh;
}

.textfields{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10px;
}
