.student-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 30px 30px;
  }
  .welcome-student {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }



.studentpg{
    display: flex;
}


  .intro {
    display: flex;
    margin-bottom:40px ;
    margin-left: 10px;
  }

  h2 {
    margin: 10px;
    color: black;
  }

  .intro img {
    border-radius: 50%;
  }

